include config

doctype
html
head
    title= `${pageTitle} - ${siteName}`
    link(rel="stylesheet", href="css/styles.css")
body 
            div.logo
               img(src="img/logo.svg", alt="logo")
               
            block content
            block script

            include footer