extends ../includes/general

block content
    div.amigos 
        h1 amigos
        div.contenedor-amigos 
            div.item
                div.box
                div.text 
                    h3 Nombres
                    p Puesto
            div.item
                div.box
                div.text 
                    h3 Nombres
                    p Puesto
            div.item
                div.box
                div.text 
                    h3 Nombres
                    p Puesto
            div.item
                div.box
                div.text 
                    h3 Nombres
                    p Puesto
            div.item
                div.box
                div.text 
                    h3 Nombres
                    p Puesto
            div.item
                div.box
                div.text 
                    h3 Nombres
                    p Puesto
