extends ../includes/general 
block content
    div.contacto
        h1 contacto
        p Trabajemos juntos. <br> Envíame un mensaje si tienes un proyecto, <br> trabajo u oferta, te contestaré a la brevedad.

        form.formulario 
            <input type="email" class="input" name="email" placeholder="e-mail"><br> 
            <input type="text"  class="input" name="mensaje" placeholder="Mensaje"><br><br>
            <input type="submit" class="boton" value="Enviar">

        div.contact-info 
            h3 Contact
            a(href="tel:+51 978 991 727") +51 978 991 727
            p Lima, Perú


         
        