extends ../includes/general


block content
    div.work 
        div.menu-work 
            h1 trabajos
            ul
                li: a(href="#cine") cine
                li: a(href="#videoclips") videoclips
                li: a(href="#documentales") documentales
                li: a(href="#cortos") cortos
                li: a(href="#publicidad") publicidad

        div.foto
            img(src="img/lula-trabajos.jpg", alt="Lula Acosta - Trabajos")

