@font-face {
  font-family: "Recoleta";
  src: url("fonts/Recoleta-Bold.ttf");
}
.amigos {
  width: 80%;
  margin: auto;
  padding-top: 5%;
}
.amigos h1 {
  text-align: center;
  color: #87EAE9;
  font-family: "Recoleta";
  font-size: 4vw;
  padding: 5% 0;
}
.amigos .contenedor-amigos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.amigos .contenedor-amigos .item {
  flex: none;
  width: calc((100% - 50px) / 3);
  margin-bottom: 5%;
}
.amigos .contenedor-amigos .item .box {
  width: 100%;
  height: 400px;
  background: #FFCADE;
}
.amigos .contenedor-amigos .item .text {
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding-top: 2%;
}