@font-face {
  font-family: "Recoleta";
  src: url("fonts/Recoleta-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.logo {
  width: 100px;
  position: absolute;
  right: 10%;
  top: 10%;
  z-index: 1;
}

.menu-home {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translatey(-50%);
  width: 20%;
}
.menu-home li {
  font-family: "Recoleta";
  font-weight: bold;
  font-style: normal;
  margin: 5% 0;
  text-align: left;
  font-size: 5rem;
  list-style: none;
}
.menu-home li a {
  text-decoration: none;
  color: white;
}
.menu-home li a:hover {
  color: #FFCADE;
}

#slider, .wrap, .slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url(../../dist/img/slide1.jpg);
}

.slide2 {
  background-image: url(../../dist/img/slide2.jpg);
}

.slide3 {
  background-image: url(../../dist/img/slide3.jpg);
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: white;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 1;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #fff transparent transparent;
  left: 5%;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #fff;
  right: 5%;
}