@font-face {
  font-family: "Recoleta";
  src: url("fonts/Recoleta-Bold.ttf");
}
.about {
  width: 100%;
  display: flex;
  width: 70%;
  height: 70%;
  margin: auto;
  position: absolute;
  right: 0;
  top: 55%;
  transform: translatey(-50%);
}
.about .resume {
  width: 30%;
  text-align: right;
  padding-right: 5%;
}
.about .resume h1 {
  color: #CBA5DD;
  font-family: "Recoleta";
  font-size: 3vw;
  margin-bottom: 5%;
}
.about .resume h2 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 1.8vw;
}
.about .resume .intro {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 1.1vw;
  font-weight: 300;
  padding: 2% 0;
  line-height: 1.8vw;
}
.about .resume .experience {
  margin: 3% 0;
}
.about .resume .experience img {
  width: 60px;
  margin: 1% 0;
}
.about .resume .experience h4 {
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.about .resume .experience p {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 300;
  padding: 1% 0;
}
.about .overflow {
  overflow-x: hidden;
  margin-right: 5%;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.about .foto {
  width: 70%;
  overflow: hidden;
  background-color: 0;
}
.about .foto img {
  width: 100%;
}

.menu-home {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translatey(-50%);
  width: 20%;
}
.menu-home li {
  font-family: "Recoleta";
  font-weight: bold;
  font-style: normal;
  margin: 5% 0;
  text-align: left;
  font-size: 5vw;
  list-style: none;
}
.menu-home li a {
  text-decoration: none;
  color: #ffff;
  transition: 0.5s ease-in;
}
.menu-home li a:hover {
  color: #FFCADE;
}

.contenedor {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #FFCADE;
}

#slider, .wrap, .slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url(../../dist/img/slide1.jpg);
}

.slide2 {
  background-image: url(../../dist/img/slide2.jpg);
}

.slide3 {
  background-image: url(../../dist/img/slide3.jpg);
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: white;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 30px;
  height: 30px;
  z-index: 1;
}

#arrow-left {
  right: 5%;
  margin: 2% 0;
}

#arrow-right {
  right: 5%;
}

@font-face {
  font-family: "Recoleta";
  src: url("fonts/Recoleta-Bold.ttf");
}
.work {
  width: 100%;
  display: flex;
  width: 60%;
  height: 70%;
  margin: auto;
  position: absolute;
  right: 0;
  top: 55%;
  transform: translatey(-50%);
}
.work .menu-work {
  width: 40%;
  text-align: right;
  padding-right: 5%;
}
.work .menu-work h1 {
  color: #FFCADE;
  font-family: "Recoleta";
  font-size: 3vw;
  margin-bottom: 5%;
}
.work .menu-work ul {
  margin-top: 10%;
}
.work .menu-work ul li {
  font-family: "Recoleta";
  font-weight: bold;
  font-style: normal;
  margin: 5% 0;
  text-align: right;
  font-size: 3vw;
  list-style: none;
}
.work .menu-work ul li a {
  text-decoration: none;
  background: none;
  background-repeat: repeat-x;
  background-position: 100% 100%;
  padding-bottom: 4px;
  white-space: nowrap;
  color: #ffff;
  transition: 1s ease-in;
}
.work .menu-work ul li a:hover {
  color: #fff;
  background: url(../../dist/img/underline.svg) repeat-x 100% 100%;
}
.work .foto {
  width: 60%;
  overflow: hidden;
  background-color: 0;
}
.work .foto img {
  width: 100%;
}

@font-face {
  font-family: "Recoleta";
  src: url("fonts/Recoleta-Bold.ttf");
}
.amigos {
  width: 80%;
  margin: auto;
  padding-top: 5%;
}
.amigos h1 {
  text-align: center;
  color: #87EAE9;
  font-family: "Recoleta";
  font-size: 4vw;
  padding: 5% 0;
}
.amigos .contenedor-amigos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.amigos .contenedor-amigos .item {
  flex: none;
  width: calc((100% - 50px) / 3);
  margin-bottom: 5%;
}
.amigos .contenedor-amigos .item .box {
  width: 100%;
  height: 400px;
  background: #FFCADE;
}
.amigos .contenedor-amigos .item .text {
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding-top: 2%;
}

@font-face {
  font-family: "Recoleta";
  src: url("fonts/Recoleta-Bold.ttf");
}
.contacto {
  padding-top: 2%;
}
.contacto h1 {
  text-align: center;
  color: #fff;
  font-family: "Recoleta";
  font-size: 4vw;
  padding: 3% 0;
}
.contacto p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 1vw;
  padding: 2% 0;
}
.contacto .formulario {
  width: 50%;
  text-align: center;
  margin: auto;
}
.contacto .formulario .input {
  background: none;
  margin: auto;
  width: 50% !important;
  padding: 2%;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.5vw;
  text-align: center;
  margin: 2% 0;
}
.contacto .formulario .boton {
  background-color: #000 !important;
  border: 1px solid #fff;
  color: #FFF;
  font-size: 1.5vw;
  padding: 1.5% 6%;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.contacto .contact-info {
  margin-top: 5%;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.contacto .contact-info h3 {
  color: #fff;
  font-size: 1.2vw;
  padding: 1% 0;
}
.contacto .contact-info a {
  color: #FFCADE;
  text-decoration: none;
  font-size: 1.2vw;
  padding: 1% 0;
}
.contacto .contact-info p {
  margin: 0;
  padding: 0;
  font-size: 1.2vw;
  padding: 1% 0;
}

@font-face {
  font-family: "Recoleta";
  src: url("fonts/Recoleta-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
}

.logo {
  width: 80px;
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: 1;
}

.social {
  position: fixed;
  left: 2%;
  z-index: 1;
  width: 25px;
  bottom: 5%;
}
.social ul li {
  padding: 20% 0;
  list-style: none;
  opacity: 1;
  transition: 0.2s ease-in;
}
.social ul li:hover {
  opacity: 0.4;
}