@import "components.scss";

.contacto {
    padding-top: 2%;
    h1 { 
        text-align: center;
        color:$default;
        font-family: 'Recoleta';
        font-size: 4vw;
        padding: 3% 0;
    }
    p {
        text-align: center; 
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color:$default; 
        font-size: 1vw;
        padding: 2% 0;
    }

    .formulario {
        width: 50%;
        text-align: center;
        margin: auto; 
        .input {
            background: none;
            margin: auto;
            width: 50%!important;
            padding: 2%;
            border: none;
            border-bottom: 1px solid #fff;
            color:$default;
            font-family: 'Roboto', sans-serif;
            font-size: 1.5vw;
            text-align: center;
            margin: 2% 0;
        }

        .boton {
            background-color: #000!important;
            border: 1px solid $default;
            color:#FFF;
            font-size: 1.5vw;
            padding: 1.5% 6%;
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            
        }
    }

    .contact-info {
        margin-top: 5%;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        
        h3 {
            color:$default;
            font-size: 1.5vw;
            padding: 1% 0;
        }

        a {
            color:$tertiary;
            text-decoration: none;
            font-size: 1.2vw;
            padding: 1% 0;
        }

        p {
            margin: 0;
            padding: 0;
            font-size: 1.2vw;
            padding: 1% 0;
        }
    }
}