@import "aboutme.scss";
@import "home.scss";
@import "trabajo.scss";
@import "amigos.scss";
@import "contacto.scss";
@import "components.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #000;
}

// Estilos generales del logo

.logo {
    width: 80px;
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 1;
}

.social {
    position: fixed;
    left: 2%;
    z-index: 1;
    width: 25px; 
    bottom: 5%;

    ul {
        li {
            padding: 20% 0;
            list-style: none;
            opacity: 1;
            transition: 0.2s ease-in;
            &:hover {
                opacity: 0.4;
            }
        }
    }
}
